@import '../@__mixin/display-flex.scss',
'../$__variables/2__font-color/font-color__section1.scss';

.body1__header {
  grid-column: 2/13;
  @include flex-jstf-cntr();
  z-index: 15;
  flex-wrap: wrap;

  @media (max-width:1280px) {
    grid-column: 1/13;
  }


  .body1__header__logo {
    @include flex-jstf-cntr();
    color: $body__header__logo_fc;
    font-size: calc((22/14) * 1rem);
    font-family: Roboto-Black;
    margin-left: 120px;
    margin-top: -5px;

    @media (max-width:1280px) {
      margin: 0px;
    }

    @media (max-width:960px) {
      margin: 20px;
    }

    @media (max-width:540px) {
      margin: 10px;
    }

    span {
      margin: 0 15px;
    }
  }

  .body1__header__info {
    @include flex-jstf-cntr();
    margin-left: 60px;

    @media (max-width:1280px) {
      margin: 0px;
    }

    @media (max-width:720px) {
      flex-wrap: wrap;
      margin: 15px;
    }

    .header__info {
      @media (max-width:720px) {
        margin: 15px;
      }
    }

    .info__span {
      margin-left: 15px;
      line-height: 19px;
    }

    .body1__header__info1 {
      margin-left: 0;
    }

    .info__span,
    .body1__header__info2 {
      margin-right: 0;
    }
  }

  .body1__header__info>* {
    @include flex-jstf-cntr();
    color: $body1__header__info_fc;
    font-size: calc((16/14) * 1rem);
    margin: 0 15px;
    font-family: Roboto-Italic;
  }
}
