.section__body2 {
  margin-top: 165px;
  max-width: 1170px;
  min-height: 900px;
  display: grid;
  grid-template-rows: 92px 110px 330px 150px;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
