@import '../@__mixin/display-flex.scss',
'../$__variables/1__color/color__section2.scss',
'../$__variables/2__font-color/font-color__section2.scss';

.body2__col2 {
  grid-column: 1/13;
  @include flex-ff-clmn-cntr();

  .b2c2__paragraf {
    margin-top: 18px;
    max-width: 1030px;
    text-align: center;
    font-family: Roboto-Regular;
    font-size: calc((22/14) * 1rem);
    color: $b2c2__paragraf_fc;
    line-height: 30px;

    .b2c2p1 {
      font-family: Roboto-Medium;
      color: $b2c2p1_fc;
    }
  }

  .b2c2__img {
    position: absolute;
    z-index: 99;
  }

  .b2c2__paragraf--body {
    position: relative;
    border: 3px solid $b2c2__paragraf_border_c;
    border-radius: 8px;
    margin-top: 16px;
    padding: 20px 65px 35px 65px;

    &::before {
      content: '';
      position: absolute;
      border: none;
      height: 3px;
      width: 170px;
      background-color: $section2_bg_c;
      top: -3px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
