.section__body5 {
  max-width: 1170px;
  min-height: 750px;
  display: grid;
  grid-template-rows: 110px 110px 470px;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
