// body__header__logo
$body__header__logo_fc: #383334;

// body1__header__info
$body1__header__info_fc: #666666;

// body1__col1 price
$body1__col1__price_fc: #ffffff;

// body1__col2 zagolovok
$body1__col2__zagol_fc: #383334;

// body1__col2 elipse
$body1__col2__elipse_fc: #ffffff;

// body1__col3 virez besplatno
$body1__col__virez_b_fc: #444444;

// body1__col3 date__smart
$d1c3__date__smart_fc: #ff6b00;

// body1__col3 d1c3__priceBlock
$d1c3__date__priceOld__text_fc: #666666;

// body1__col3 d1c3__priceBalance
$d1c3__date__priceBalance__sum_fc: #9dbd39;

// body1__col3 d1c3__priceGuard
$d1c3__date__d1c3__priceGuard_fc: #666666;
