//body3__col1 h2
$body3__col1_h2_fc: #383334;

//paragraf p1
$b3r_p1_fc: #000000;

//paragraf p2
$b3r_p2_fc: #222222;
$b3r_p2_ital_fc: #666666;

//paragraf p3 No
$b3r_p3_fc: #ff6b00;

//paragraf p4
$b3r_p4_fc: #444444;
$b3r_p4_bold_fc: #000000;

//b3c2__par1
$b3c2__par1_fc: #000000;

//b3c2__par2
$b3c2__par2_fc: #444444;
$b3c2__par2--bold_fc: #000000;