//body4__col1 h2
$body4__col1_fc: #000000;
$body4__col1_span_fc: #fa4f01;
$body4__col1_p_fc: #444444;

//b4r__par1
$b4r__par1_fc: #000000;

//b4r__par2
$b4r__par2_fc: #444444;
$b4r__par2_span_fc: #000000;


//body4__col2
$body4__col2_p_fc: #000000;
$body4__col2_span_fc: #f64d01;
