//H2
$body2__h2_fc: #383334;
$body2__to_h2_fc: #2b2828;

// row 
$b2row__them_fc: #000000;
$b2row__text_fc: #444444;

// col2 
$b2c2__paragraf_fc: #444444;
// col2 paragraf span
$b2c2p1_fc: #000000;

//b2row img before
$b2row__img_bef_fc: #ffffff;
