.section__body4 {
    width: 1170px;
    height: 810px;
    display: grid;
    grid-template-rows: 95px 130px 365px 100px;
    grid-template-columns: repeat(12, 70px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}