@import "../@__mixin/display-flex.scss",
"../$__variables/2__font-color/font-color__section4.scss";

.body4__logo-body,
.body4__col1 {
  @include flex-ff-clmn-cntr();
  grid-column: 1/13;
}

.body4__logo-body {
  margin-top: 30px;
}

.body4__col1 {
  @media (max-width:1279px) {
    margin: 0 10%;
  }

  h2 {
    margin-top: -17px;
    text-align: center;
    font-family: Roboto-Black;
    font-size: calc((48 / 14) * 1rem);
    line-height: 48px;
    color: $body4__col1_fc;

    .b4c1__h2_span {
      color: $body4__col1_span_fc;
    }
  }

  p {
    margin-top: 27px;
    font-family: Roboto-Regular;
    font-size: calc((23 / 14) * 1rem);
    color: $body4__col1_p_fc;

    @media (max-width:1279px) {
      text-align: center;
      margin-left: 15%;
      margin-right: 15%;
    }
  }
}
