@import '../@__mixin/display-flex.scss',
'../$__variables/1__color/color__section4.scss',
'../$__variables/2__font-color/font-color__section4.scss';

.body4__col2 {

  @include flex-ff-clmn-cntr();

  text-align: center;

  .b4c2-p {
    font-family: Roboto-Medium;
    font-size: calc((27/14) * 1rem);
    color: $body4__col2_p_fc;
    background: $section4_bg_c;
    padding: 30px 27px;
    border-radius: 11px;

    .b4c2__span {
      color: $body4__col2_span_fc;
    }
  }

  .gradient-box {
    @include flex-al-cntr();
    position: relative;
    margin-top: 3px;
    z-index: 99;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -4px;
      border-radius: 11px;
      background: linear-gradient(to right, $body4__row2_bc_c, $body4__row3_bc_c);
    }
  }
}
