// body1__col1 price
$body1__col1__price1: #ff6b00;
$body1__col1__price2: #a7c93d;

// body1__col2 zagolovok
$body1__col2__zagol_n1_border: #ff6b00;
$body1__col2__zagol_n2_border: #a7c93d;

// body1__col2 elipse
$body1__col2__elipse_bg: #a7c93d;
$body1__col2__elipse_border: #e8edc9;

// body1__col3
$body1__col_bg: #ffffff;
$body1__col_border: #a8ca3f;

// body1__col3 virez
$body1__col__virez_bg: #f3f9ff;

// body1__col3 d1c3__priceBlock
$d1c3__date__priceNew__sum_bg: #ffc802;

// body1__col3 d1c3__priceForm
$d1c3__date__priceForm__input_bg: #eef2f7;
$d1c3__date__priceButton_body_bg: #ffc002;
$d1c3__date__priceButton_body_border: #ffd24e;

// body1__col3 d1c3__priceGuard
$d1c3__date__d1c3__priceGuard_bg: #eef2f7;
