//bacground color
$section2_bg_c: #ffffff;

//b2row img before
$b2row__img_bef1_c: #ec9a6a;
$b2row__img_bef2_c: #e47643;
$b2row__img_bef3_c: #ec5b19; 

//b2row__border
$b2row__border_c: #becbd8;

//b2c2__paragraf--body border color
$b2c2__paragraf_border_c: #f4d3bb;
